* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f7f8fd;
  font-family: 'Kumbh Sans';
}

nav {
  height: 60px;
  background-color: white;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav div #hamburger #btn1 {
  margin-right: 20px;
  height: 15px;
  width: 15px;
}

nav div #hamburger #btn2 {
  display: none;
  z-index: 2000;
}

nav div #logo {
  height: 15px;
  width: 15px;
}

nav div .list {
  position: absolute;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px 0px 0px 25px;
  height: 100vh;
  width: 60%;
  background-color: white;
  display: none;
  -webkit-transition: -webkit-transform 0.3s ease in;
  transition: -webkit-transform 0.3s ease in;
  transition: transform 0.3s ease in;
  transition: transform 0.3s ease in, -webkit-transform 0.3s ease in;
  -webkit-transform: translate 100%;
          transform: translate 100%;
  padding-top: 7vh;
  z-index: 1000;
}

nav div .list li {
  list-style: none;
  padding: 3vh 0px 0px 40px;
  font-weight: 700;
}

nav div .list li a {
  text-decoration: none;
  color: black;
}

nav div .list li a:hover {
  color: #ff7d1a;
}

nav div #cart {
  margin-right: 20px;
  height: 15px;
  width: 15px;
}

nav div #avatar {
  height: 20px;
  width: 25px;
}

.slideSection #previous {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.3s ease in;
  transition: -webkit-transform 0.3s ease in;
  transition: transform 0.3s ease in;
  transition: transform 0.3s ease in, -webkit-transform 0.3s ease in;
  -webkit-transform: translate 100%;
          transform: translate 100%;
  top: 27vh;
  left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.slideSection #next {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.3s ease in;
  transition: -webkit-transform 0.3s ease in;
  transition: transform 0.3s ease in;
  transition: transform 0.3s ease in, -webkit-transform 0.3s ease in;
  -webkit-transform: translate 100%;
          transform: translate 100%;
  top: 27vh;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.slideSection .displayImage {
  display: none;
}

.slideSection .slideImages {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.slideSection .imgs {
  width: 100%;
}

.slideSection #product2, .slideSection #product3, .slideSection #product4 {
  display: none;
}

.slideSection .thumbImages {
  display: none;
}

.content {
  margin: 15px auto 30px auto;
  width: 85%;
}

.content .info .firstP {
  color: #ff7d1a;
  font-size: 16px;
  font-weight: 700;
}

.content .info h2 {
  color: black;
  margin: 10px 0px;
}

.content .info .secondP {
  color: #68707d;
  font-size: 16px;
}

.content .payment {
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .payment .discountPrice {
  color: #1d2025;
  font-weight: 700;
}

.content .payment .percentage {
  color: #ff7d1a;
  background-color: #ffede0;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
}

.content .payment .sellingPrice {
  color: #b6bcc8;
  text-decoration: line-through;
  font-weight: 400;
}

.content .increDecre, .content .btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #bfbfbf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.content .increDecre .decre button, .content .btnBox .decre button, .content .increDecre .incre button, .content .btnBox .incre button {
  color: #ff7d1a;
  border: none;
  font-weight: 700;
  background-color: inherit;
  font-size: 20px;
  width: 5px;
}

.content .increDecre .quantity h4, .content .btnBox .quantity h4 {
  font-size: 16px;
  color: black;
}

.content .btnBox {
  background-color: #ff7d1a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px;
  -webkit-box-shadow: 0px 20px 40px #ffede0;
          box-shadow: 0px 20px 40px #ffede0;
}

.content .btnBox #cart2 {
  color: white;
  height: 15px;
  width: 15px;
}

.content .btnBox button {
  background-color: inherit;
  border: none;
  color: white;
  margin-left: 5px;
}

@media screen and (min-width: 785px) {
  nav {
    padding: 20px 100px;
  }
  nav div #hamburger {
    display: none;
  }
  nav div .list {
    position: inherit;
    height: inherit;
    width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: inherit;
    margin-left: 120px;
  }
  nav div .list li {
    padding: inherit;
    font-weight: 400;
    margin: 0px 10px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
    width: 80%;
  }
  .container .slideSection {
    width: 50%;
    margin: 0 20px;
  }
  .container .slideSection #previous, .container .slideSection #next {
    display: none;
  }
  .container .slideSection .displayImage {
    display: inline;
  }
  .container .slideSection .displayImage img {
    width: 80%;
    height: 70%;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  .container .slideSection .slideImages {
    display: none;
  }
  .container .slideSection .thumbImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .slideSection .thumbImages img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  .container .slideSection .thumbImages img:hover {
    opacity: 0.7;
    border: 2px solid #ff7d1a;
  }
  .container .content {
    padding: 30px 40px;
    width: 50%;
  }
  .container .content .payment {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
    width: 40%;
    grid-gap: 15px;
  }
  .container .content .buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
  }
}
/*# sourceMappingURL=style.css.map */